<h1>Shopping Cart</h1>
<h2>Please, review your items</h2>
<hr />

<table id="shoppingCartListTable">
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th class="th80px">Unit Price</th>
    <th class="th80px">Quantity</th>
    <th class="th80px">Total</th>
    <th class="th130px">Actions</th>
  </tr>
  <tr id="noShoppingCartItemsMessage">
    <td colspan="4">You have no items, please ask one!</td>
  </tr>

</table> 

<div id="createShoppingCartCTA" class="ctaWrapper">
  <a class="cta green" href="/shoppingcart/create">Menu</a>
  <a class="cta blue" href="/order/create">Place Order</a>
</div>
